* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

header {
    background: black;
}

header > h1 {
    color: white;
    text-align: center;
    font-family: "Source Code Pro", monospace;
}

header > h1 > em {
    color: darkred;
}

.story {
    color: white;
    font-family: "Source Code Pro", monospace;
    text-align: center;
    padding: 30px;
    
}

.story2 {
    color: white;
    font-family: "Source Code Pro", monospace;
    text-align: center;
    padding: 30px;
    
}

.vader {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 20px;
}

.score-board {
    margin: 20px auto;
    border: 3px solid white;
    border-radius: 4px;
    text-align: center;
    width: 200px;
    color: white;
    font-size: 46px;
    padding: 15px 20px;
    font-family: "Quicksand", sans-serif;
    position: relative;
}

.badge {
    color: white;
    padding: 2px 10px;
    font-size: 14px;
    font-family: "Quicksand", sans-serif;
}

#user-label {
    background: rgb(8, 73, 170);
    position: absolute;
    top: 30px;
    left: -25px;
}

#computer-label {
    background: red;
    position: absolute;
    top: 30px;
    right: -30px;
}

.result {
    font-size: 40px;
    color: white;
}

.result > p {
    text-align: center;
    font-family: "Source Code Pro", monospace;
}

.choices {
    text-align: center;
    margin-top: 50px;
}

.choice {
    display: inline-block;
    border: 4px solid white;
    border-radius: 50%;
    margin: 0 20px;
    padding: 10px;
    transition: all 0.5s ease;
}

.choice:hover {
    cursor: pointer;
    background: white;
}

#action-message {
   text-align: center;
   color: white;
   font-family: "Source Code Pro", monospace;
   font-weight: bold;
   font-size: 20px;
   margin-top: 30px;
   margin-bottom: 30px; 
}

.blue-glow {
    border: 7px solid rgb(8, 73, 170);
    box-shadow: 0 0 10px rgb(22, 56, 112);
}

.red-glow {
    border: 7px solid rgb(177, 24, 24);
    box-shadow: 0 0 10px rgb(112, 8, 8);
}

.gray-glow {
    border: 7px solid rgb(179, 179, 179);
    box-shadow: 0 0 10px rgb(66, 66, 66);
}